<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title">
       {{this.value}} 
    </h5>
<br>
    <h6 class="card-subtitle mb-2 text-muted">
       {{this.definition}}   
    <br>
    <br>
    <a href="/words/{{ this.id }}" class="card-link">Details</a>
    <a href="/words/{{this.id}}/likes" class="card-link">Like</a>
    </p>
</div>

    </div>
