<br>

  <div class="alert alert-danger">
  <strong>Your search</strong> did not match any fooking word. 
  </div>

<div class="jumbotron">
  <h1>Ah! I'm sorry my friend</h1>
  <p><strong>However!</strong> Why don't you take some initiative and <strong>create</strong> it yourself!</p>
  <p><a class="btn btn-primary btn-lg" href="/words/create" role="button">Create New Word</a></p>
</div>