<br>
<div class="alert alert-danger">
  <strong>Sorry!</strong> Your search did not match any word. 
</div>
<div class="alert alert-danger">
  This fooking word does <strong>not exist</strong>...yet! 
</div>
<div class="alert alert-info">
  <strong>However!</strong> Why don't you take some initiative and <strong>create</strong> it yourself!
</div>
<br>
<div class="md-6">
  <a href="/words/create" class="btn btn-primary">Create New Word</a>
</div>