<h1>DISE</h1>
<p>Diccionario Independiente y Suplementario de la Lengua Española</p>
<h3>Diccionario Indie</h3>

<button type="button" class="btn btn-primary">Descubrir</button>
<a class="btn btn-primary" href ="/words/create">Crear</a>   
<button type="button" class="btn btn-primary">Revisar</button>

<button type="button" class="btn bnt-secondary">
 <a href="/sessions/create">Fooking Login</a> 
</button>

<button type="button" class="btn bnt-secondary">
   <a href="/users/create">Fooking SignUp</a> 
</button>
