
<div class="jumbotron">
  <h1>Suck-sexsfully Saved!</h1>
  <p>Keep messing around!</p>
  <div class='saved-buttons'>
    <p><a class="btn btn-primary saved" href="/list" role="button">Discover Words</a></p>
    <p><a class="btn btn-primary saved" href="/words/create" role="button">Create Words</a></p>
    <p><a class="btn btn-primary saved" href="/words/create" role="button">Audit Words</a></p>
  </div>
</div>


