<h1>Suck-sexsfully Saved!</h1>
<p>Keep messing around!</p>

<a class="btn btn-primary" href="/dictionary/dictionary">Descubrir</a>
<a class="btn btn-primary" href ="/words/create">Crear</a>   
<button type="button" class="btn btn-primary">Revisar</button>

