<img src="/public/img/indie.jpg" alt="">
<div class="col-lg-8">
    <form action="/dictionary/dictionary" method="GET" class="form-inline">
        <div class="input-group md-form form-sm form-2 pl-0">
            <input class="form-control my-0 py-1 red-border" type="text" placeholder="Search by word or tag" name="search">
            <div class="input-group-append">
                <span class="input-group-text red" id="basic-text1">
                    <input type="submit" value="Search" class='btn btn-default'>
                        <i class="fa fa-search text-grey" aria-hidden="true"></i>
                    </input>
                </span>
            </div>
        </div>
    </form>
    <br>
    <h1>Word Here</h1>
    <h5> <i>type of word</i></h5>
    <br>
    <h3>Definition</h3>
    <p>Lorem ipsum dolor amet chicharrones put a bird on it butcher whatever la croix yuccie enamel pin plaid photo booth. Narwhal subway tile marfa irony, crucifix messenger bag snackwave.</p>
    <br>
    <h3>Empathic Etymology</h3>
    <p>Lorem ipsum dolor amet chicharrones put a bird on it butcher whatever la croix yuccie enamel pin plaid photo booth. Narwhal subway tile marfa irony, crucifix messenger bag snackwave.</p>

</div>
