<h1>Suck-sessfully saved</h1>
<p>Keep goin around<p>

<p>adadada</p>

<a class="btn btn-primary" href="/dictionary/dictionary">Descubrir</a>
<a class="btn btn-primary" href ="/words/create">Crear</a>   
<button type="button" class="btn btn-primary">Revisar</button>