<h1>Suck-sessfully saved</h1>
<p>Keep goin around<p>

<p>adadada</p>

<a class="btn btn-primary" href="/list">Descubrir</a>
<a class="btn btn-primary" href ="/words/create">Crear</a>   
<a class="btn btn-primary" href='/feed'>Revisar</a>